# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool
*.coverprofile
*.prof

# Build directories
bin/
build/

# Go modules
go.sum
vendor/

# IDE / editor files
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# .env files
.env